# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

#

### Exercises
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value.
   4. Write a story describing the statistical significance in the context or the original problem.
   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet


#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet
</div>
****

In [60]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
from scipy import stats

In [61]:
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [62]:
# number of callbacks for black-sounding names
sum(data[data.race=='b'].call)

157.0

In [63]:
data.head(8)

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
1,b,1,3,3,6,0,1,1,0,316,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,b,1,4,1,6,0,0,0,0,19,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
3,b,1,3,4,6,0,1,0,1,313,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
4,b,1,3,3,22,0,0,0,0,313,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit
5,b,1,4,2,6,1,0,0,0,266,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Private
6,b,1,4,2,5,0,1,0,0,13,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Private
7,b,1,3,4,21,0,1,0,1,313,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit

In [64]:
# Question 1: What test is appropriate for this problem? Does CLT apply?

In [65]:
data.shape

(4870, 65)

In [66]:
data.describe()

,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,occupbroad,workinschool,...,educreq,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind
count,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,...,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000
mean,3.618480,3.661396,7.842916,0.052772,0.411499,0.097125,0.448049,215.637782,3.481520,0.559548,...,0.106776,0.437166,0.072690,0.082957,0.030390,0.085010,0.213963,0.267762,0.154825,0.165092
std,0.714997,1.219126,5.044612,0.223601,0.492156,0.296159,0.497345,148.127551,2.038036,0.496492,...,0.308866,0.496083,0.259649,0.275854,0.171677,0.278932,0.410141,0.442847,0.361773,0.371308
min,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,7.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,3.000000,5.000000,0.000000,0.000000,0.000000,0.000000,27.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,4.000000,6.000000,0.000000,0.000000,0.000000,0.000000,267.000000,4.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.000000,4.000000,9.000000,0.000000,1.000000,0.000000,1.000000,313.000000,6.000000,1.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,4.000000,7.000000,44.000000,1.000000,1.000000,1.000000,1.000000,903.000000,6.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [67]:
# Answer 1: This is a Bernoulli distribution since the call responses are either 1 or 0. If black sounding resumes received b calls, then the white sounding ones recieved (1-b), which is equal to w calls.
# A t-test statistic can be used on this process and the CLT does not apply.

In [68]:
# Question 2: What are the null and alternative hypotheses?

# Answer2:

# Null hypothesis: race has an impact on call back rates.
# Alternative hypothesis: Race does not have an impact on call back rates.

In [69]:
# In order to test the hypothesis, we first have to count the number of calls for each type.

In [70]:
data.race.value_counts()

b    2435
w    2435
Name: race, dtype: int64

In [71]:
data[data.race == 'b'].call.value_counts()

0.0    2278
1.0     157
Name: call, dtype: int64

In [72]:
data[data.race == 'w'].call.value_counts()

0.0    2200
1.0     235
Name: call, dtype: int64

In [73]:
# From the above numbers, we see that the white sounding resumes got more cals than the black sounding resumes.

In [74]:
w = data[data.race == 'w']
w = w.call

In [75]:
b = data[data.race == 'b']
b = b.call

In [76]:
meanw = w.mean()

In [77]:
meanw

0.09650924056768417

In [78]:
meanb = b.mean()

In [79]:
meanb

0.0644763857126236

In [80]:
# Question 3:  Compute margin of error, confidence interval, and p-value.

In [81]:
stdw = w.std()

In [82]:
stdw

0.2953455150127411

In [83]:
stdb = b.std()

In [84]:
stdb

0.24564945697784424

In [85]:
# Confidence interval for w calls

In [86]:
stats.norm.interval(0.95, meanw, stdw)

(-0.48235733185272223, 0.67537581298809057)

In [87]:
# Confidence interval for b calls

In [88]:
stats.norm.interval(0.95, meanb, stdb)

(-0.41698770278577257, 0.54594047421101977)

In [94]:
# Margin of error

moew = moe = 1.96*(stdw/np.sqrt(234))

In [95]:
moew = 1.96*(stdw/np.sqrt(234))

In [96]:
moew # margin of error for white calls

0.03784238701066759

In [97]:
moeb = moe = 1.96*(stdb/np.sqrt(156))

In [98]:
moeb # margin of error for black calls

0.038548686148502688

In [99]:
# p_value

pvalue = stats.ttest_ind(w,b) #p-value
pvalue

Ttest_indResult(statistic=4.1147052908617514, pvalue=3.9408021031288859e-05)

In [100]:
 # Answer 4: The p_value is 3.94% which is less than 5%. This means that we can reject the null hypothesis in favor of the alternative hypothesis. 
# This means that the there is no impact of race on call back rates.

In [ ]:
# Answer 5: My analysis does not show that race has an impact on call back rates. 
# The call back rates shown in this dataset for black sounding names are probably based on experience, education, volunteering experience, etc. 
# These other factors could be the reason for lower call back rates among b sounding resumes. 
# These may have to be analyzed for a complete understanding of what exactly is happening.